<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Category</th>
      <th>Ref</th>
      <th>Tags</th>
      <th>Solution</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.issue %></td>
        <td><%= task.category %></td>
        <td><%= task.ref %></td>
        <td><%= task.tags %></td>
        <td><%= task.solution %></td>
        <td><%= truncate(task.content.to_plain_text, length: 20) %></td>
        <td>
          <%= link_to 'Show', task, class: 'btn btn-sm btn-outline-primary' %>
          <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-sm btn-outline-warning' %>
          <%= link_to 'Destroy', task, method: :delete, 
            data: { confirm: 'Are you sure?' },
            class: 'btn btn-sm btn-danger'
           %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class: 'btn btn-success' %>
