<h1>RESULTS</h1>
<table class="table table-striped">
<% @tasks.each do |task| %>
  <tr>
    <th><a href="<%= task_path(task.id) %>"><%= task.id %></a></th>
    <th><%= task.issue %></th>
    <th><%= task.tags %></th>
  </tr>
<% end %>
</table>

<%= link_to "Back", "history.back()", class: "btn btn-outline-secondary" %>
